<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
    <section class="section">
        <div class="container">
        <h1 class="subtitle">Problems</h1>
            <table class="table is-hoverable is-fullwidth">
                <thead>
                  <tr>
                    <th>P</th>
                    <th>q</th>
                    <th>hcost</th>
                    <th>NT</th>
                    <th>sINit</th>
                    <th>djString</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                        <th><%= result.dat.p %></th>
                        <th><%= result.dat.q %></th>
                        <th><%= result.dat.hcost %></th>
                        <th><%= result.dat.NT %></th>
                        <th><%= result.dat.sInit %></th>
                        <th><%= result.djString %></th>
                    </tr>
                </tbody>
              </table>
            </div>
          </section>

          <section class="section">
                <div class="container">
                  <h1 class="subtitle"><%= result.objectiveFunction %></h1>
                    <table class="table is-hoverable is-fullwidth">
                        <thead>
                          <tr>
                            <th>Time Period</th>
                            <th>Production Batch Size</th>
                            <th>Production Set-up</th>
                            <th>End Inventory Level</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i<result.solution.length-3; i=i+4) { %>     
                           <tr>
                            <th><%= result.solution[i] %></th>
                            <th><%= result.solution[i+1] %></th>
                            <th><%= result.solution[i+2] %></th>
                            <th><%= result.solution[i+3] %></th>
                          </tr>
                          <% } %>
                        </tbody>
                      </table>
                </div>
            </section>
</body>

</html>